/*Selectores*/

        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #4e8ff1, #ff7eb9); /* Degradado de azul a rosado */
            background-size: cover; /* Cubre toda la pantalla */
            background-position: center; /* Centra el fondo */
            background-repeat: no-repeat; /* No se repite */
        }
        


h1, h2, h3 {
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4e8ff1;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}


.menu ul li a:hover {
    background-color:rgb(58, 110, 224);
    border-radius: 5px;
}

.bienvenida {
    margin: 80px auto;
    width: 80%;
    text-align: justify;
}

.imagen-flotante {
    float: right;
    margin: 10px;
    border: 2px solid black;
}

footer {
    background-color: #4e8ff1;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

thead {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: white;
    color: black;
}

tbody tr:nth-child(odd) {
    background-color: lightgreen;
    color: black;
}
/*Imagen de bienvenida*/

.imagen-flotante {
    float: right; /* Hace que la imagen flote a la derecha */
    margin: 10px; /* Espacio alrededor de la imagen */
    width: 200px; /* Ajusta el tamaño de la imagen */
    border: 2px solid black; /* Borde opcional para destacar la imagen */
}

.contenido {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
}
.huella {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}
